<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Redirect XNA Framework to MonoGame -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xna.Framework" publicKeyToken="842cf8be1de50553" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xna.Framework.Graphics" publicKeyToken="842cf8be1de50553" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="3.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

